# Домашнее задание 10

Есть мнение: раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов movies_stats.csv. То есть проверить, верно ли, что с ростом года выпуска фильма средний рейтинг становится ниже.

При этом мы не будем затрагивать субъективные факторы этих рейтингов, а пройдёмся по следующему алгоритму:
1. В переменную years запишите список из всех годов с 1950-го по 2010-й.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title). Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
   * для каждой строки пройдите по всем годам списка years;
   * если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
   * если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.
     
4. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.

5. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [2]:
import pandas as pd
import re

In [3]:
movies = pd.read_csv("movies_stats.csv")
years = [str(year) for year in range(1950, 2011)]
movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [4]:
def production_year(title):
    match = re.search(r"\((\d{4})\)", title)
    if match:
        year = match.group(1)
        if year in years:  
            return int(year)
    return 1900

In [5]:
movies['year'] = movies['title'].apply(production_year)
avg_rat = movies.groupby('year')['rating'].mean().sort_values(ascending=False).reset_index()

In [6]:
avg_rat.head(10)

   year    rating
0  1957  4.014241
1  1972  4.011136
2  1952  4.000000
3  1954  3.994220
4  1951  3.983539
5  1974  3.978704
6  1962  3.952446
7  1950  3.915254
8  1977  3.905786
9  1964  3.841492

In [7]:
avg_rat.tail(10)

    year    rating
52  1999  3.471692
53  1992  3.466754
54  2001  3.460052
55  2002  3.456472
56  1990  3.449169
57  2005  3.448434
58  2003  3.444777
59  1996  3.426600
60  1997  3.415764
61  2000  3.355945

**Вывод**: раньше фильмы и правда были лучше, судя по всему